<div class="page-header">
    <h1>Добавить пользователя</h1>
</div>

<div class="container">
    <div class="row">
        <form role="form" name="userForm" ng-submit="submit()" ng-controller="AddUserController">
            <div class="col-lg-6">

                <div class="form-group">
                    <label for="firstName">Имя</label>

                    <div class="input-group">
                        <input type="text" class="form-control" name="firstName" id="firstName"
                               ng-model="user.firstName" placeholder="Напишите имя пользователя" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <div class="alert alert-danger"
                         role="alert"
                         ng-show="userForm.firstName.$invalid && userForm.firstName.$dirty">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Ошибка:</span>
                        {{errorMessage('firstName')}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName">Фамилия</label>

                    <div class="input-group">
                        <input type="text" class="form-control" name="lastName" id="lastName" ng-model="user.lastName"
                               placeholder="Напишите фамилию пользователя" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <div class="alert alert-danger"
                         role="alert"
                         ng-show="userForm.lastName.$invalid && userForm.lastName.$dirty">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Ошибка:</span>
                        {{errorMessage('lastName')}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>

                    <div class="input-group">
                        <input type="email" class="form-control" id="email" name="email" ng-model="user.email"
                               placeholder="Напишите email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <div class="alert alert-danger"
                         role="alert"
                         ng-show="userForm.email.$invalid && userForm.email.$dirty">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Ошибка:</span>
                        {{errorMessage('email')}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="dateOfBirth">Дата рождения</label>

                    <div class="input-group">
                        <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
                               ng-model="user.dateOfBirth" placeholder="Дата рождения" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <div class="alert alert-danger"
                         role="alert"
                         ng-show="userForm.dateOfBirth.$invalid && userForm.dateOfBirth.$dirty">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Ошибка:</span>
                        {{errorMessage('dateOfBirth')}}
                    </div>
                </div>

                <div class="form-group" ng-show="generalError">
                    <div class="alert alert-danger" role="alert">
                        {{generalError}}
                    </div>
                </div>

                <input type="submit" name="submit" id="submit" value="Добавить" class="btn btn-info pull-right">
            </div>
        </form>

    </div>
</div>